<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    </head>
    <header class="header">
        <div class="container logo-nav-container">
            <p><img class="logo" src="/img/kes_sey__15_.png"></p>
            <nav class="navigation">
                <ul class='inner_nav'>
    
                    <li><a href="#">Categorias</a></li>
                    <li><a href="/testing_fg/views/us.html">Nosotros</a></li>
                    <li><a href="#">Usuario</a>
                        <ul class='desplegable'>
                            <li><a href="/testing_fg/views/login.html">Iniciar Sesión</a></li>
                            <li><a href="">Registrate</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>